<style>
		#main {
			width: 1000px;
		}
		body {
			background-image: url(final/water1.jpg);
			background-size: cover;
			opacity: 1;
		}
		h1, h2, h4 {
			font-family: 'cardo', serif;
		}
		#header #nav {
			background-color: #021C1E;
			width: 100%;
			height: 50px;
			margin: 0px;
			margin-left: auto;
			margin-right: auto;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			right: 0;
		}
		#outer {
			width: 100%;
			text-align: center;
			margin-left: 200px;
		}
		#inner:hover {
			display: inline-block;
			transform: scale(2, 1);
		}
		.clearfloat {
			clear: both;
		}
		#nav a:hover {
			color: #2C7873;
			transform: scale(1);
		}
		#nav a{
			display: block;
			float: left;
			margin-top: 10px;
			margin-left: 250px;
			text-align: center;
			line-height: 20px;
		}
		#nav #active {
			color: white;
		}
		#nav a:hover, #nav #active {
			color: white;
			border-bottom: 2px solid #6FB98F;
			width: 50px;8F;
			width: 50px;
		}
		#search, #home, #school, #energize {
			width: 30px;
			height: 30px;
		}
		#footer {
		background-color: #021C1E;
		text-align: center;
		height: 50px;
		width: 100%;
		line-height: 50px;
		font-size: 1em;
		margin: 0px;
		color: white;
		}
</style>
